*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:tahoma, Arial, sans-serif;
}


body{

    background:#ffffff;
    color:#0B2348;
    line-height:1.8;

}


.container{

    width:90%;
    max-width:1100px;
    margin:auto;

}



/* Header */


header{

    padding:20px 0;
    border-bottom:1px solid #eee;

}


.header-content{

    display:flex;
    justify-content:space-between;
    align-items:center;

}


.logo img{

    width:90px;
    height:auto;
    border-radius:12px;

}



/* Hero */


.hero{

    padding:60px 0;

}


.hero-content{

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px;

}


.hero-text{

    flex:1;

}


.hero-text h1{

    font-size:38px;
    margin-bottom:20px;
    color:#0B2348;

}


.hero-text p{

    font-size:18px;
    color:#555;
    margin-bottom:30px;

}



.hero-image{

    flex:1;
    text-align:center;

}


.hero-image img{

    width:100%;
    max-width:450px;
    border-radius:20px;
    box-shadow:0 20px 45px rgba(0,0,0,0.15);

}



/* Buttons */


.btn{

    display:inline-block;
    background:#FFC21A;
    color:#0B2348;
    padding:12px 28px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;

}


.btn:hover{

    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,0.15);

}



/* Products */


.products{

    padding:60px 0;
    background:#f8fafc;

}


.section-title{

    text-align:center;
    font-size:30px;
    margin-bottom:40px;

}



.product-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;

}



.card{

    background:white;
    padding:30px 20px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    transition:0.3s;

}


.card:hover{

    transform:translateY(-8px);

}



.card h3{

    margin-bottom:15px;
    color:#0B2348;

}



.card p{

    color:#555;
    margin-bottom:20px;

}




/* Advantages */


.advantages{

    padding:60px 0;

}



.advantages ul{

    list-style:none;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;

}


.advantages li{

    background:#fff;
    padding:20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.06);

}



/* Footer */


footer{

    background:#0B2348;
    color:white;
    text-align:center;
    padding:25px;

}




/* Mobile */


@media(max-width:768px){


.hero-content{

    flex-direction:column-reverse;
    text-align:center;

}


.hero-text h1{

    font-size:28px;

}


.hero-image img{

    max-width:330px;

}



.product-grid{

    grid-template-columns:1fr;

}



.advantages ul{

    grid-template-columns:1fr;

}



.header-content{

    justify-content:center;

}


}
