/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
    background: #fff;
}


/* Header */

header {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Logo */

.logo img {
    width: 120px;
    height: auto;
    display: block;
}


/* Menu */

.nav-menu {
    display: flex;
    list-style: none;
    gap: 35px;
}


.nav-menu li a {
    text-decoration: none;
    color: #0B2348;
    font-size: 16px;
    font-weight: bold;
}


.nav-menu li a:hover {
    color: #FFC21A;
}


/* Order Button */

.order-btn {
    background: #FFC21A;
    color: #0B2348;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}


/* Mobile Menu Button */

.menu-toggle {
    display: none;
    font-size: 28px;
    color: #0B2348;
    cursor: pointer;
}
