*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:tahoma, Arial;
}


body{

    background:#ffffff;
    color:#0B2348;
    line-height:1.8;

}



.container{

    width:90%;
    max-width:1100px;
    margin:auto;

}



/* Header */


header{

    padding:15px 0;
    border-bottom:1px solid #eee;

}


.header-box{

    display:flex;
    justify-content:space-between;
    align-items:center;

}


.logo{

    width:70px;
    height:70px;
    object-fit:contain;
    border-radius:10px;

}

}


.header-contact a{

    background:#FFC21A;
    color:#0B2348;
    padding:10px 18px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;

}





/* Hero */


.hero{

    padding:50px 0;

}


.hero-box{

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;

}


.hero-text{

    flex:1;

}


.hero-text h1{

    font-size:40px;
    margin-bottom:20px;

}


.hero-text p{

    font-size:18px;
    margin-bottom:25px;

}



.btn{

    display:inline-block;
    background:#0B2348;
    color:white;
    padding:12px 30px;
    border-radius:10px;
    text-decoration:none;

}



.hero-image{

    flex:1;
    text-align:center;

}


.hero-image img{

    width:80%;
    max-width:250px;
    border-radius:20px;

}




/* Products */


section{

    padding:50px 0;

}


h2{

    text-align:center;
    margin-bottom:30px;
    font-size:30px;

}



.products{

    display:flex;
    gap:20px;

}



.card{

    flex:1;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px #ddd;
    text-align:center;

}



.card button{

    margin-top:20px;
    background:#FFC21A;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;

}





/* Advantages */


.advantages{

    background:#f7f8fb;

}



.features{

    display:flex;
    justify-content:space-around;
    text-align:center;

}


.features div{

    font-size:30px;

}


.features p{

    font-size:16px;

}





.about{

    text-align:center;

}




footer{

    background:#0B2348;
    color:white;
    text-align:center;
    padding:20px;

}





/* Mobile */


@media(max-width:768px){


.header-box{

    flex-direction:column;
    gap:15px;

}


.hero-box{

    flex-direction:column-reverse;
    text-align:center;

}


.hero-text h1{

    font-size:30px;

}



.products{

    flex-direction:column;

}


.features{

    flex-direction:column;
    gap:25px;

}



}
